@charset "utf-8";
/* CSS Document */
html, body {
  height: 100%;
}
body,td,th,p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.7rem;
  letter-spacing: 1px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Header ====================== */
header {
  background-color: #252831;
  padding: 10px 0;
  text-align: center;
}
header h1 {
  margin: auto;
}
header h1 a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}
header h1 a:hover {
  color: #fff;
}
header h1 a svg {
  display: inline-block;
  vertical-align: middle;
}

/* ====================== Navigation ====================== */
#breadcrumb {
    padding: 10px 20px;
    list-style: none;
    background-color: #eee;
    font-size: 0.9rem;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
  flex: 1;
  order: 1;
}
#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Listing ====================== */
#list-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 3;
  order: 2;
}
#restaurants-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  overflow-y: scroll;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
}
#restaurants-list li {
  position: relative;
  background-color: #fff;
  border: 2px solid #ccc;
  margin: 10px 20px;
  text-align: left;
  overflow-y: hidden;
  width: 100%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 10px 0;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 0.65rem;
}
#restaurants-list li a {
  background-color: orange;
  color: #424242;
  display: inline-block;
  font-size: 0.7rem;
  margin: 15px 0;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list .restaurant-details-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(78px);
  width: 100%;
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#restaurants-list .restaurant-details-wrapper.open {
  transform: translateY(0);
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 10px;
  padding-top: 10px;
  text-decoration: underline;
}
.filter-options-elements {
  display: flex;
  flex-flow: column nowrap;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: 0.8rem;
  height: 25px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  flex: 1;
}

/* ====================== Restaurant Details ====================== */
/* .inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 76px;
} */

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #restaurant-wrapper {
  height: 100%;
  flex: 4;
  overflow-y: scroll;
  order: 3;
}
#restaurant-name {
  color: #f18200;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 1rem;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 10px 0;
  width: 90%;
  margin: auto;
}
#reviews-container {
  padding: 0;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 10px 20px 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.75);
}
#reviews-list li p {
  margin: 0 0 10px;
}
#reviews-list li p:first-of-type {
  color: #595959;
}
#restaurant-hours td {
  color: #666;
}
.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* ============== MATERIAL ICONS FONT ================== */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 400px) {
  #restaurants-list li {
    flex: 1 0 195px;
    max-width: 250px;
    margin: 5px 0 0;
  }
}
@media screen and (min-width: 600px) {
  header h1 a {
    font-size: 1.4rem;
  }
  #maincontent {
    flex-flow: row nowrap;
  }
  #map-container {
    order: 2;
  }
  #list-container {
    flex: 0 0 340px;
    order: 1;
  }
  #restaurants-list li {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 10px 10px 0;
  }
  #restaurants-list li h1 {
    font-size: 1rem;
  }
  #restaurants-list li p {
    font-size: 0.8rem;
  }
  .filter-options-elements {
    flex-flow: row nowrap;
  }
  .filter-options select {
    font-size: 0.8rem;
    height: 35px;
  }
  .filter-options select {
    flex: 1;
  }
  .inside #restaurant-wrapper {
    flex: 1;
    max-width: 600px;
    order: 1;
  }
}